<h2> Reactive  Switches </h2>
<hr>
<form
    [formGroup]="myForm"
    (ngSubmit)="save()"
>

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            Gender
        </label>
        <div class="col-sm-9">

            <!-- Masculine -->
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    id="masculine"
                    value="M"
                    formControlName="gender"
                >
                <label
                    class="form-check-label"
                    for="radioMasculine"
                >
                  Masculine
                </label>
            </div>

            <!-- Femenine -->
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    id="femenine"
                    value="F"
                    formControlName="gender"
                >
                <label
                    class="form-check-label"
                    for="radioFemenine"
                >
                    Femenine
                </label>
            </div>

            <!-- Other -->
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    id="other"
                    value="O"
                    formControlName="gender"
                >
                <label
                    class="form-check-label"
                    for="radioOther"
                >
                    Other
                </label>
            </div>

        </div>
    </div>

    <!-- Switch -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            Notifications
        </label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckChecked"
                    formControlName="notifications"
                >
                <label
                    class="form-check-label"
                    for="flexSwitchCheckChecked"
                >
                    I want to recieve notifications
                </label>
            </div>

        </div>
    </div>

    <!-- Check -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">

            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexCheckDefault"
                    formControlName="termsConditions"
                >
                <label
                    class="form-check-label"
                    for="flexCheckDefault"
                >
                    Terms & Conditions
                </label>
            </div>  

        </div>
    </div>

    <!-- Save -->
    <div class="row">
        <div class="col">
            <button
                type="submit"
                class="btn btn-primary float-end"
            >
                Save
            </button>
        </div>
    </div>

</form>
<div class="row">
    <div class="col">

        <h5> Valid </h5>
        <pre> {{ myForm.valid }} </pre>

        <h5> Value </h5>
        <pre> {{ myForm.value | json }} </pre>

        <h5> Person </h5>
        <pre> {{ person | json }} </pre>

        <!-- <h5> Terms & Conditions </h5>
        <pre> {{ termsConditions }} </pre>
        <pre> {{ myForm.controls['terms'].errors | json }} </pre> -->

    </div>
</div>
