<h1 class="mt-5"> Selectors </h1>
<hr>
<form [formGroup]="myForm" (ngSubmit)="save()">

    <!-- Region selector -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label"> Continent: </label>
            <select class="form-control"
                    formControlName="region">
                <option value=""> -- Select continent -- </option>
                <option *ngFor="let region of regions"
                        [value]="region | lowercase">
                    {{ region }}
                </option>
            </select>
        </div>
    </div>

    <!-- Country selector -->
    <div class="row mb-3" *ngIf="countries.length !== 0">
        <div class="col">
            <label class="form-label"> Country: </label>
            <select class="form-control"
                    formControlName="country">
                <option value=""> -- Select country -- </option>
                <option *ngFor="let country of countries"
                        [value]="country.cca3 | lowercase">
                    {{ country.name.common }}
                </option>
            </select>
        </div>
    </div>

    <!-- Frontier selector -->
    <div class="row mb-3" *ngIf="frontiers.length !== 0">
        <div class="col">
            <label class="form-label"> Frontier: </label>
            <select class="form-control"
                    formControlName="frontier">
                <option value=""> -- Select frontier country -- </option>
                <option *ngFor="let frontier of frontiers"
                        [value]="frontier.cca3| lowercase">
                    {{ frontier.name.common }}
                </option>
            </select>
        </div>
    </div>

    <!-- Loading alert -->
    <div class="row" *ngIf="loading">
        <div class="col">
            <div class="alert alert-primary">
                Loading...
            </div>
        </div>
    </div>

    <!-- Select button -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">
                Select
            </button>
        </div>
    </div>

</form>
<h3> Form </h3>
<pre> Valid: {{ myForm.valid }} </pre>
<pre> Value: {{ myForm.value | json }} </pre>
