<div class="text-layout">
    <h1> Basic Pipes </h1>
    <p>
        Pipes inside Angular - Usually inside Common Module
    </p>
</div>
<div class="grid">

    <div class="col-4">
        <p-card
            header="uppercase"
            [subheader]="nameLower"
        >
            {{ nameLower | uppercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card
            header="lowercase"
            [subheader]="nameUpper"
        >
            {{ nameUpper | lowercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card
            header="titlecase"
            [subheader]="nameComplete"
        >
            {{ nameComplete | titlecase }}
        </p-card>
    </div>

</div>
<div class="text-layout">
    <h1> Date Pipe </h1>
    <p>
        Pipes to show dates
    </p>
</div>
<div class="grid">

    <div class="col-6">
        <p-card>
            <ul>
                <li> date </li>
                <li> date | date </li>
                <li> date | date:'short' </li>
                <li> date | date:'long' </li>
                <li> date | date:'MMMM' </li>
                <li> date | date:'MMMM dd, yyyy' </li>
                <li> date | date:'h:mm a z' </li>
            </ul>
            <hr>
            <ul>
                <li> date | date:'long':'GMT-6' </li>
                <li> date | date:'long':'GMT-4' </li>
                <li> date | date:'long':'':'en' </li>
                <li> date | date:'long':'':'fr' </li>
            </ul>
        </p-card>
    </div>

    <div class="col-6">
        <p-card>
            <ul>
                <li> {{ date }} </li>
                <li> {{ date | date }} </li>
                <li> {{ date | date:'short' }} </li>
                <li> {{ date | date:'long' }} </li>
                <li> {{ date | date:'MMMM' }} </li>
                <li> {{ date | date:'MMMM dd, yyyy' }} </li>
                <li> {{ date | date:'h:mm a z' }} </li>
            </ul>
            <hr>
            <ul>
                <li> {{ date | date:'long':'GMT-6' }} </li>
                <li> {{ date | date:'long':'GMT-4' }} </li>
                <li> {{ date | date:'long':'':'es' }} </li>
                <li> {{ date | date:'long':'':'fr' }} </li>
            </ul>
        </p-card>
    </div>

</div>
