<div class="row container mt-4">

    <div class="col-3">
        <h2> Searches </h2>
        <hr>
        <ul class="list-group">
            <li
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="list-group-item"
            >
                Search country 
            </li>
            <li
                routerLink="region"
                routerLinkActive="active"
                class="list-group-item"
            >
                By region
            </li>
            <li
                routerLink="capital"
                routerLinkActive="active"
                class="list-group-item"
            >
                By capital 
            </li>
        </ul>
    </div>

    <div class="col">
        <!-- render proper route component with provided path -->
        <router-outlet></router-outlet>
    </div>

</div>
