<div class="text-layout">
    <h1> Uncommon pipes </h1>
    <p>
        Pipes inside Angular - Usually inside Common Module
    </p>
</div>
<div class="grid">

    <div class="md:col-6 sm:col-9">
        <p-fieldset
            legend="i18nSelect" 
            [toggleable]="true"
        >
            <b> gender | i18nSelect:inviteMap </b>
            <p>
                {{ name }}, es un placer
                {{ gender | i18nSelect:inviteMap }}
                a nuestro evento.
            </p>
            <button pButton
                label="Toggle Client"
                icon="pi pi-heart"
                iconPos="right"
                class="p-button-info"
                (click)="togglePerson()"
            ></button>
        </p-fieldset>
    </div>

    <div class="md:col-6 sm:col-9">
        <p-fieldset
            legend="i18nPlural" 
            [toggleable]="true"
        >
            <b> customers.length | i18nPlural:customersMap </b>
            <p>
                Actualmente
                {{ customers.length | i18nPlural:customersMap }}
            </p>
            <button pButton
                label="Delete Customer"
                icon="pi pi-times"
                iconPos="right"
                class="p-button-danger"
                (click)="deleteCustomer()"
            ></button>
        </p-fieldset>
    </div>

    <div class="md:col-6 sm:col-9">
        <p-fieldset
            legend="slice" 
            [toggleable]="true"
        >

            <b> Original customers </b>
            <pre> {{ customers }} </pre>

            <b>customers | slice:0:2</b>
            <pre> {{ customers | slice:0:2 }} </pre>

            <b>customers | slice:1:2</b>
            <pre> {{ customers | slice:1:2 }} </pre>

            <b>customers | slice:1:3</b>
            <pre> {{ customers | slice:1:3 }} </pre>

            <b>customers | slice:3:4</b>
            <pre> {{ customers | slice:3:4 }} </pre>

            <b>name | slice:0:4</b>
            <pre> {{ name | slice:0:4 }} </pre>

        </p-fieldset>
    </div>

    <div class="md:col-6 sm:col-9">
        <p-fieldset
            legend="json" 
            [toggleable]="true"
        >
            <b> heroes | json </b>
            <pre> {{ heroes | json }} </pre>
        </p-fieldset>
    </div>

    <div class="md:col-6 sm:col-9">
        <p-fieldset
            legend="keyvalue" 
            [toggleable]="true"
        >
            <b> let item of person | keyvalue </b>
            <ul>
                <li *ngFor="let item of person | keyvalue">
                <b> {{ item.key }}: </b> {{ item.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>

    <div class="md:col-6 sm:col-9">
        <p-fieldset
            legend="async" 
            [toggleable]="true"
        >

            <b> myObservable | async </b>
            <pre *ngIf="!(myObservable | async)">Resolving observable...</pre>
            <pre *ngIf="myObservable | async">{{ myObservable | async }}</pre>
        
            <b> promiseValue | async </b>
            <pre *ngIf="!(promiseValue | async)">Resolving promise...</pre>
            <pre *ngIf="promiseValue | async">{{ promiseValue | async }}</pre>

        </p-fieldset>
    </div>

</div>
