<h3> Search by region <small> {{ activeRegion | titlecase }} </small></h3>
<hr>
<h5> Select region </h5>
<div class="row">
    <div class="col">
        <!--
            [class.btn-primary]="region === activeRegion"
        -->
        <!--
            [ngClass]="{
            'btn-primary': region === activeRegion,
            'btn-outline-primary': region !== activeRegion
            }"
        -->
        <button
            [class]="getCSSClass(region)"
            *ngFor="let region of regions"
            (click)="activateRegion(region)"
        >
            {{ region | titlecase }}
        </button>
    </div>
</div>
<div *ngIf="countries.length > 0" class="row">
    <div class="col">
        <app-countries-table
            [countriesData]="countries"
        >
        </app-countries-table>
    </div>
</div>
