<h1 class="mt-5">Add Product</h1>
<hr>
<form [formGroup]="myForm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Name:</label>
        </div>
        <div class="col-auto">
            <input class="form-control"
                   formControlName="name">
        </div>
        <div class="col-auto">
        <!-- old error-msg modifying attributes
            <span error-msg color="orange" message="This field is necessary"
                *ngIf="isInvalid('name')">
            </span>
        -->
            <span error-msg
                  *ngIf="isInvalid('name')">
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
<h3 class="mt-5">Form</h3>
<pre>Valid: {{ myForm.valid }}</pre>
<pre>Value: {{ myForm.value | json }}</pre>
